
# Created by https://www.gitignore.io/api/java,maven,windows,eclipse
# Edit at https://www.gitignore.io/?templates=java,maven,windows,eclipse

# Project exclude paths
.idea
### Eclipse ###
.metadata
bin/
tmp/
src/test
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

### Eclipse Patch ###
# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Annotation Processing
.apt_generated

.sts4-cache/

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.gitignore.io/api/java,maven,windows,eclipse
.svn/pristine/28/
.svn/pristine/5a/
.svn/pristine/a9/
.svn/pristine/ad/
src/main/webapp/WEB-INF/classes/
src/main/webapp/resources/excel/
.svn/entries
.svn/format
.svn/pristine/00/
.svn/pristine/01/
.svn/pristine/02/
.svn/pristine/03/
.svn/pristine/04/
.svn/pristine/05/
.svn/pristine/06/
.svn/pristine/07/
.svn/pristine/08/
.svn/pristine/09/
.svn/pristine/0a/
.svn/pristine/0b/
.svn/pristine/0c/
.svn/pristine/0d/
.svn/pristine/0e/
.svn/pristine/0f/
.svn/pristine/10/
.svn/pristine/11/
.svn/pristine/13/
.svn/pristine/14/
.svn/pristine/15/
.svn/pristine/16/
.svn/pristine/17/
.svn/pristine/18/
.svn/pristine/19/
.svn/pristine/1b/
.svn/pristine/1c/
.svn/pristine/1e/
.svn/pristine/1f/
.svn/pristine/20/
.svn/pristine/22/
.svn/pristine/23/
.svn/pristine/24/
.svn/pristine/25/
.svn/pristine/26/
.svn/pristine/27/
.svn/pristine/29/
.svn/pristine/2a/
.svn/pristine/2b/
.svn/pristine/2c/
.svn/pristine/2e/
.svn/pristine/2f/
.svn/pristine/30/
.svn/pristine/31/
.svn/pristine/32/
.svn/pristine/33/
.svn/pristine/34/
.svn/pristine/35/
.svn/pristine/36/
.svn/pristine/37/
.svn/pristine/38/
.svn/pristine/39/
.svn/pristine/3a/
.svn/pristine/3b/
.svn/pristine/3c/
.svn/pristine/3d/
.svn/pristine/3f/
.svn/pristine/40/
.svn/pristine/41/
.svn/pristine/42/
.svn/pristine/43/
.svn/pristine/44/
.svn/pristine/45/
.svn/pristine/46/
.svn/pristine/47/
.svn/pristine/48/
.svn/pristine/49/
.svn/pristine/4a/
.svn/pristine/4b/
.svn/pristine/4c/
.svn/pristine/4d/
.svn/pristine/4e/
.svn/pristine/4f/
.svn/pristine/50/
.svn/pristine/52/
.svn/pristine/53/
.svn/pristine/54/
.svn/pristine/55/
.svn/pristine/56/
.svn/pristine/57/
.svn/pristine/58/
.svn/pristine/59/
.svn/pristine/5b/
.svn/pristine/5c/
.svn/pristine/5d/
.svn/pristine/5f/
.svn/pristine/60/
.svn/pristine/61/
.svn/pristine/62/
.svn/pristine/64/
.svn/pristine/65/
.svn/pristine/66/
.svn/pristine/67/
.svn/pristine/69/
.svn/pristine/6a/
.svn/pristine/6b/
.svn/pristine/6d/
.svn/pristine/6e/
.svn/pristine/6f/
.svn/pristine/70/
.svn/pristine/71/
.svn/pristine/72/
.svn/pristine/73/
.svn/pristine/74/
.svn/pristine/75/
.svn/pristine/76/
.svn/pristine/77/
.svn/pristine/78/
.svn/pristine/79/
.svn/pristine/7a/
.svn/pristine/7b/
.svn/pristine/7c/
.svn/pristine/7d/
.svn/pristine/7e/
.svn/pristine/7f/
.svn/pristine/80/
.svn/pristine/81/
.svn/pristine/82/
.svn/pristine/83/
.svn/pristine/84/
.svn/pristine/85/
.svn/pristine/86/
.svn/pristine/88/
.svn/pristine/89/
.svn/pristine/8a/
.svn/pristine/8c/
.svn/pristine/8d/
.svn/pristine/8e/
.svn/pristine/90/
.svn/pristine/91/
.s
vn/pristine/92/
.svn/pristine/93/
.svn/pristine/94/
.svn/pristine/95/
.svn/pristine/96/
.svn/pristine/97/
.svn/pristine/98/
.svn/pristine/9a/
.svn/pristine/9b/
.svn/pristine/9c/
.svn/pristine/9d/
.svn/pristine/9e/
.svn/pristine/9f/
.svn/pristine/a0/
.svn/pristine/a2/
.svn/pristine/a3/
.svn/pristine/a4/
.svn/pristine/a6/
.svn/pristine/a7/
.svn/pristine/a8/
.svn/pristine/aa/
.svn/pristine/ab/
.svn/pristine/ac/
.svn/pristine/ae/
.svn/pristine/af/
.svn/pristine/b0/
.svn/pristine/b1/
.svn/pristine/b2/
.svn/pristine/b3/
.svn/pristine/b4/
.svn/pristine/b5/
.svn/pristine/b7/
.svn/pristine/b8/
.svn/pristine/b9/
.svn/pristine/ba/
.svn/pristine/bb/
.svn/pristine/bd/
.svn/pristine/be/
.svn/pristine/bf/
.svn/pristine/c0/
.svn/pristine/c1/
.svn/pristine/c2/
.svn/pristine/c3/
.svn/pristine/c4/
.svn/pristine/c5/
.svn/pristine/c6/
.svn/pristine/c7/
.svn/pristine/c8/
.svn/pristine/c9/
.svn/pristine/ca/
.svn/pristine/cc/
.svn/pristine/cd/
.svn/pristine/cf/
.svn/pristine/d0/
.svn/pristine/d1/
.svn/pristine/d2/
.svn/pristine/d3/
.svn/pristine/d5/
.svn/pristine/d6/
.svn/pristine/d7/
.svn/pristine/d8/
.svn/pristine/d9/
.svn/pristine/da/
.svn/pristine/db/
.svn/pristine/dc/
.svn/pristine/dd/
.svn/pristine/de/
.svn/pristine/df/
.svn/pristine/e0/
.svn/pristine/e1/
.svn/pristine/e2/
.svn/pristine/e3/
.svn/pristine/e4/
.svn/pristine/e5/
.svn/pristine/e6/
.svn/pristine/e7/
.svn/pristine/e8/
.svn/pristine/e9/
.svn/pristine/ea/
.svn/pristine/eb/
.svn/pristine/ec/
.svn/pristine/ed/
.svn/pristine/ef/
.svn/pristine/f0/
.svn/pristine/f1/
.svn/pristine/f2/
.svn/pristine/f3/
.svn/pristine/f4/
.svn/pristine/f5/
.svn/pristine/f6/
.svn/pristine/f9/
.svn/pristine/fa/
.svn/pristine/fc/
.svn/pristine/fd/
.svn/pristine/fe/
.svn/pristine/ff/
.svn/wc.db
.svn/wc.db-journal
jhta.iml
